* {
	box-sizing: border-box;
}
body {
	background-color: white;
	height: 100vh;
	margin: 0;
}

.container {
	width: 90%;
	background-color: white;
	margin: auto;
	margin-top: 40px;
	position: relative;
	.main {
		width: 100%;
		background-color: #14142c;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 150px;
		color: white;
		text-align: center;
	}
	.news-letter-container {
		width: 70%;
		background: rgb(236, 71, 71);

		background: linear-gradient(
			90deg,
			rgba(236, 71, 71, 1) 39%,
			rgba(238, 99, 134, 1) 70%
		);
		margin: auto;
		padding: 40px;
		color: white;
		text-align: center;
		margin-top: -40px;
		border-radius: 10px;
		input {
			background-color: transparent;
			outline: none;
			border: 1px solid white;
			border-right: none;
			height: 40px;
			font-size: 16px;
			color: white;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			width: 40%;
			margin-right: 0;
			&::placeholder {
				color: white;
			}
		}
		.btn-submit {
			background-color: white;
			border: none;
			outline: none;
			font-size: 16px;
			height: 40px;
			margin-left: -5px;
			padding-left: 20px;
			padding-right: 20px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.container .main {
		padding: 100px 50px;
	}
	.container .news-letter-container .btn-submit {
		padding-left: 5px;
		padding-right: 5px;
	}
}
